body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: #f6efe7;
    color: #242424;
    margin: 1em;
}

h1 {
    font-family: 'Corben', serif;
}

main {
    margin-top: 3em;
}

.link {
    font-style: italic;
}
.link:hover {
    text-decoration: underline;
}

.nose {
    font-size: 1.5em;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.nose:hover {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}